openapi: 3.0.0
info:
  contact:
    email: bag@kadaster.nl
    name: Kadaster - Beheerder Landelijke Voorziening BAG
    url: https://zakelijk.kadaster.nl/bag
  description: Deze API levert actuele gegevens over adressen, adresseerbare objecten
    en panden. Actueel betekent in deze API `zonder eindstatus`. De bron voor deze
    API is de basisregistratie adressen en gebouwen (BAG).
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  title: Huidige bevragingen API
  version: 1.2.0
servers:
- description: LVBAG - ACCEPTATIE
  url: https://api.bag.acceptatie.kadaster.nl/esd/huidigebevragingen/v1
- description: LVBAG - PRODUCTIE
  url: https://api.bag.kadaster.nl/esd/huidigebevragingen/v1
security:
- apiKeyBAG: []
paths:
  /adressen/zoek:
    get:
      description: Free query zoeken van adressen met postcode, woonplaats, straatnaam,
        huisnummer, huisletter, huisnummertoevoeging. Delen van de adressen in het
        antwoord matchen exact met jouw invoer. Je vindt een adres door de zoekresultaatidentificatie
        uit het antwoord te gebruiken in get/adressen
      operationId: zoek
      parameters:
      - description: Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter,
          huisnummertoevoeging.
        explode: true
        in: query
        name: zoek
        required: true
        schema:
          type: string
        style: form
      - description: Pagina nummer
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZoekResultaatHalCollectie'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: '"fuzzy" zoeken van adressen'
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /adressen:
    get:
      description: Vind een actueel adres met de identificatie van het zoekresultaat
        uit de operatie get /adressen/zoek, de pandidentificatie of de adresseerbaarobjectidentificatie.
        Gebruik de fields-parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
        Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte,
        zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).
      operationId: raadpleegAdressen
      parameters:
      - description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        explode: true
        in: query
        name: pandIdentificatie
        required: false
        schema:
          example: "0226100000008856"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: De identificatie van een adresseerbaar object uit de BAG. Deze
          is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats
          zijn.
        explode: true
        in: query
        name: adresseerbaarObjectIdentificatie
        required: false
        schema:
          example: "0226010000038820"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: De identificatie van een zoekresultaat van het endpoint get /adressen/zoek.
        explode: true
        in: query
        name: zoekresultaatIdentificatie
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Pagina nummer
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHalCollectie'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: vindt adressen
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /adressen/{nummeraanduidingidentificatie}:
    get:
      description: Raadpleeg een actueel adres met de nummeraanduidingidentificatie.
        Gebruik de fields-parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
        Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte,
        zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).
      operationId: raadpleegAdresMetNumId
      parameters:
      - description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        explode: false
        in: path
        name: nummeraanduidingidentificatie
        required: true
        schema:
          example: "0226200000038923"
          pattern: ^[0-9]{16}$
          type: string
        style: simple
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHal'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert een adres
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /adresseerbareobjecten/{adresseerbaarobjectidentificatie}:
    get:
      description: Raadpleeg een actueel adresseerbaar object met de identificatie.
        Dit is de identificatie van een verblijfsobject, ligplaats of standplaats.
        Gebruik de fields-parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
        Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources adres en pand, zie [functionele specificaties
        expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).
      operationId: raadpleegAdresseerbaarobject
      parameters:
      - description: De identificatie van een adresserbaar object uit de BAG. Deze
          is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats
          zijn.
        explode: false
        in: path
        name: adresseerbaarobjectidentificatie
        required: true
        schema:
          example: "0226010000038820"
          pattern: ^[0-9]{16}$
          type: string
        style: simple
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectHal'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "412":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert een verblijfsobject, standplaats of ligplaats
      tags:
      - Adresseerbaar object
      x-accepts: application/hal+json,application/problem+json
  /adresseerbareobjecten:
    get:
      description: Zoek actuele adresseerbare objecten (verblijfsobjecten, standplaatsen
        of ligplaatsen) met een nummeraanduidingidentificatie of pandidentificatie.
        Gebruik de fields-parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
        Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources adres en pand, zie [functionele specificaties
        expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).
      operationId: raadpleegAdresseerbareobjecten
      parameters:
      - description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        explode: true
        in: query
        name: nummeraanduidingIdentificatie
        required: false
        schema:
          example: "0226200000038923"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        explode: true
        in: query
        name: pandIdentificatie
        required: false
        schema:
          example: "0226100000008856"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      - description: Pagina nummer
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarobjectHalCollectie'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "412":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: vindt verblijfsobjecten, ligplaatsen, standplaatsen
      tags:
      - Adresseerbaar object
      x-accepts: application/hal+json,application/problem+json
  /woonplaatsen/{woonplaatsidentificatie}:
    get:
      description: Raadpleeg een actuele woonplaats met de identificatie. Een woonplaats
        is een gedeelte van het grondgebied van de gemeente met een naam. Gebruik
        de fields-parameter als je alleen specifieke velden in het antwoord wil zien,
        zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
        Gebruik de expand-parameter als je het antwoord wil uitbreiden met de gerelateerde
        resource geometrie, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).
      operationId: raadpleegWoonplaats
      parameters:
      - description: Identificatie van een object uit de BAG. Deze is 4 cijfers lang.
        explode: false
        in: path
        name: woonplaatsidentificatie
        required: true
        schema:
          description: 'Deze wordt gebruikt in de operation, bv. /woonplaatsen/0123.
            Waarde: 0001-9999.'
          example: "2096"
          pattern: ^[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}$
          type: string
        style: simple
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsHal'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "412":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert BAG details van een woonplaats
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /openbareruimten/{openbareruimteidentificatie}:
    get:
      description: Raadpleeg een actuele openbare ruimte met de identificatie. Een
        openbare ruimte is een buitenruimte met een naam die binnen één woonplaats
        ligt, bijvoorbeeld een straat of een plein. Gebruik de fields-parameter als
        je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties
        fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
      operationId: raadpleegOpenbareRuimte
      parameters:
      - description: Identificatie van een object uit de BAG. Deze is 16 cijfers lang.
        explode: false
        in: path
        name: openbareruimteidentificatie
        required: true
        schema:
          example: "0226300000136166"
          pattern: ^[0-9]{16}$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OpenbareRuimteHalBasis'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert BAG detals van een openbare ruimte
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /nummeraanduidingen/{nummeraanduidingidentificatie}:
    get:
      description: Raadpleeg een actuele nummeraanduiding met de identificatie. Een
        nummeraanduiding is een postcode, huisnummer met evt een huisletter en huisnummertoevoeging
        die hoort bij een verblijfsobject, een standplaats of een ligplaats. Gebruik
        de fields-parameter als je alleen specifieke velden in het antwoord wil zien,
        zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
      operationId: raadpleegNummeraanduiding
      parameters:
      - description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        explode: false
        in: path
        name: nummeraanduidingidentificatie
        required: true
        schema:
          example: "0226200000038923"
          pattern: ^[0-9]{16}$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NummeraanduidingHalBasis'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert BAG details van een nummeraanduiding
      tags:
      - Adres
      x-accepts: application/hal+json,application/problem+json
  /panden/{pandidentificatie}:
    get:
      description: Raadpleeg een actueel pand met de identificatie. Een pand is een
        bouwkundige, constructief zelfstandige eenheid die direct en duurzaam met
        de aarde is verbonden en betreedbaar en afsluitbaar is. Gebruik de fields-parameter
        als je alleen specifieke velden in het antwoord wil zien, zie [functionele
        specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
      operationId: raadpleegPand
      parameters:
      - description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        explode: false
        in: path
        name: pandidentificatie
        required: true
        schema:
          example: "0226100000008856"
          pattern: ^[0-9]{16}$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalBasis'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "412":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: levert een pand
      tags:
      - Pand
      x-accepts: application/hal+json,application/problem+json
  /panden:
    get:
      description: Zoek actuele panden met de identificatie van een adresseerbaar
        object, nummeraanduiding of een locatie. Gebruik de fields-parameter als je
        alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties
        fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).
      operationId: raadpleegPanden
      parameters:
      - description: De identificatie van een adresseerbaar object uit de BAG. Deze
          is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats
          zijn.
        explode: true
        in: query
        name: adresseerbaarObjectIdentificatie
        required: false
        schema:
          example: "0226010000038820"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        explode: true
        in: query
        name: nummeraanduidingIdentificatie
        required: false
        schema:
          example: "0226200000038923"
          pattern: ^[0-9]{16}$
          type: string
        style: form
      - description: Coordinaten van een locatie die als query-parameter gebruikt
          wordt om een object te zoeken. Let op, explode is false dus het formaat
          is ?locatie=194602.722,464154.308
        explode: false
        in: query
        name: locatie
        required: false
        schema:
          example:
          - 196733.51
          - 439931.89
          items:
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      - description: CRS van de meegegeven geometrie. epsg:28992 mapt op het RD New
          Nederlands coordinatenstelsel.
        explode: false
        in: header
        name: Content-Crs
        required: false
        schema:
          $ref: '#/components/schemas/CrsEnum'
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalCollectie'
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "412":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "415":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the
                  request is in a format not supported by the requested resource for
                  the requested method.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      security:
      - apiKeyBAG: []
      summary: vindt panden
      tags:
      - Pand
      x-accepts: application/hal+json,application/problem+json
components:
  headers:
    api_version:
      explode: false
      schema:
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
        type: string
      style: simple
    warning:
      explode: false
      schema:
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
        type: string
      style: simple
    X_Pagination_Page:
      explode: false
      schema:
        description: Huidige pagina.
        example: 3
        type: integer
      style: simple
    X_Pagination_Limit:
      explode: false
      schema:
        description: Aantal resultaten per pagina.
        example: 20
        type: integer
      style: simple
    contentCrs:
      description: CRS van de meegegeven geometrie. epsg:28992 mapt op het RD New
        Nederlands coordinatenstelsel.
      explode: false
      schema:
        $ref: '#/components/schemas/CrsEnum'
      style: simple
  parameters:
    zoek:
      description: Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter,
        huisnummertoevoeging.
      explode: true
      in: query
      name: zoek
      required: true
      schema:
        type: string
      style: form
    zoekresultaatIdentificatie:
      description: De identificatie van een zoekresultaat van het endpoint get /adressen/zoek.
      explode: true
      in: query
      name: zoekresultaatIdentificatie
      required: false
      schema:
        type: string
      style: form
    locatie-query:
      description: Coordinaten van een locatie die als query-parameter gebruikt wordt
        om een object te zoeken. Let op, explode is false dus het formaat is ?locatie=194602.722,464154.308
      explode: false
      in: query
      name: locatie
      required: false
      schema:
        example:
        - 196733.51
        - 439931.89
        items:
          type: number
        maxItems: 2
        minItems: 2
        type: array
      style: form
    nummeraanduidingIdentificatie-query:
      description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers
        lang.
      explode: true
      in: query
      name: nummeraanduidingIdentificatie
      required: false
      schema:
        example: "0226200000038923"
        pattern: ^[0-9]{16}$
        type: string
      style: form
    pandIdentificatie-query:
      description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
      explode: true
      in: query
      name: pandIdentificatie
      required: false
      schema:
        example: "0226100000008856"
        pattern: ^[0-9]{16}$
        type: string
      style: form
    adresseerbaarObjectIdentificatie-query:
      description: De identificatie van een adresseerbaar object uit de BAG. Deze
        is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats
        zijn.
      explode: true
      in: query
      name: adresseerbaarObjectIdentificatie
      required: false
      schema:
        example: "0226010000038820"
        pattern: ^[0-9]{16}$
        type: string
      style: form
    nummeraanduidingidentificatie:
      description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers
        lang.
      explode: false
      in: path
      name: nummeraanduidingidentificatie
      required: true
      schema:
        example: "0226200000038923"
        pattern: ^[0-9]{16}$
        type: string
      style: simple
    adresseerbaarobjectidentificatie:
      description: De identificatie van een adresserbaar object uit de BAG. Deze is
        16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats
        zijn.
      explode: false
      in: path
      name: adresseerbaarobjectidentificatie
      required: true
      schema:
        example: "0226010000038820"
        pattern: ^[0-9]{16}$
        type: string
      style: simple
    pandidentificatie:
      description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
      explode: false
      in: path
      name: pandidentificatie
      required: true
      schema:
        example: "0226100000008856"
        pattern: ^[0-9]{16}$
        type: string
      style: simple
    woonplaatsidentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 cijfers lang.
      explode: false
      in: path
      name: woonplaatsidentificatie
      required: true
      schema:
        description: 'Deze wordt gebruikt in de operation, bv. /woonplaatsen/0123.
          Waarde: 0001-9999.'
        example: "2096"
[...]
