{
  "openapi": "3.0.0",
  "info": {
    "title": "Huidige bevragingen API",
    "description": "Deze API levert actuele gegevens over adressen, adresseerbare objecten en panden. Actueel betekent in deze API `zonder eindstatus`. De bron voor deze API is de basisregistratie adressen en gebouwen (BAG).",
    "termsOfService": "https://zakelijk.kadaster.nl/algemene-voorwaarden",
    "contact": {
      "name": "Kadaster - Beheerder Landelijke Voorziening BAG",
      "url": "https://zakelijk.kadaster.nl/bag",
      "email": "bag@kadaster.nl"
    },
    "license": {
      "name": "European Union Public License, version 1.2 (EUPL-1.2)",
      "url": "https://eupl.eu/1.2/nl/"
    },
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.bag.acceptatie.kadaster.nl/esd/huidigebevragingen/v1",
      "description": "LVBAG - ACCEPTATIE"
    },
    {
      "url": "https://api.bag.kadaster.nl/esd/huidigebevragingen/v1",
      "description": "LVBAG - PRODUCTIE"
    }
  ],
  "security": [
    {
      "apiKeyBAG": []
    }
  ],
  "paths": {
    "/adressen/zoek": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "\"fuzzy\" zoeken van adressen",
        "description": "Free query zoeken van adressen met postcode, woonplaats, straatnaam, huisnummer, huisletter, huisnummertoevoeging. Delen van de adressen in het antwoord matchen exact met jouw invoer. Je vindt een adres door de zoekresultaatidentificatie uit het antwoord te gebruiken in get/adressen",
        "operationId": "zoek",
        "parameters": [
          {
            "name": "zoek",
            "in": "query",
            "description": "Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter, huisnummertoevoeging.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina nummer",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "X-Pagination-Page": {
                "$ref": "#/components/headers/X_Pagination_Page"
              },
              "X-Pagination-Limit": {
                "$ref": "#/components/headers/X_Pagination_Limit"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoekResultaatHalCollectie"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/adressen": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "vindt adressen",
        "description": "Vind een actueel adres met de identificatie van het zoekresultaat uit de operatie get /adressen/zoek, de pandidentificatie of de adresseerbaarobjectidentificatie. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature). Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).",
        "operationId": "raadpleegAdressen",
        "parameters": [
          {
            "name": "pandIdentificatie",
            "in": "query",
            "description": "Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226100000008856"
            }
          },
          {
            "name": "adresseerbaarObjectIdentificatie",
            "in": "query",
            "description": "De identificatie van een adresseerbaar object uit de BAG. Deze is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats zijn.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226010000038820"
            }
          },
          {
            "name": "zoekresultaatIdentificatie",
            "in": "query",
            "description": "De identificatie van een zoekresultaat van het endpoint get /adressen/zoek.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina nummer",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "X-Pagination-Page": {
                "$ref": "#/components/headers/X_Pagination_Page"
              },
              "X-Pagination-Limit": {
                "$ref": "#/components/headers/X_Pagination_Limit"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresHalCollectie"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/adressen/{nummeraanduidingidentificatie}": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "levert een adres",
        "description": "Raadpleeg een actueel adres met de nummeraanduidingidentificatie. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature). Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).",
        "operationId": "raadpleegAdresMetNumId",
        "parameters": [
          {
            "name": "nummeraanduidingidentificatie",
            "in": "path",
            "description": "Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers lang.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226200000038923"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresHal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/adresseerbareobjecten/{adresseerbaarobjectidentificatie}": {
      "get": {
        "tags": [
          "Adresseerbaar object"
        ],
        "summary": "levert een verblijfsobject, standplaats of ligplaats",
        "description": "Raadpleeg een actueel adresseerbaar object met de identificatie. Dit is de identificatie van een verblijfsobject, ligplaats of standplaats. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature). Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources adres en pand, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).",
        "operationId": "raadpleegAdresseerbaarobject",
        "parameters": [
          {
            "name": "adresseerbaarobjectidentificatie",
            "in": "path",
            "description": "De identificatie van een adresserbaar object uit de BAG. Deze is 16 cijfers lang en kan een verblijfsobject, een standplaats of een ligplaats zijn.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226010000038820"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Crs",
            "in": "header",
            "description": "Gewenste CRS van de coördinaten in de response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CrsEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "Content-Crs": {
                "$ref": "#/components/headers/contentCrs"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresseerbaarObjectHal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13",
                  "title": "Precondition Failed",
                  "status": 412,
                  "detail": "The precondition given in one or more of the request-header fields evaluated to false when it was tested on the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "preconditionFailed"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/adresseerbareobjecten": {
      "get": {
        "tags": [
          "Adresseerbaar object"
        ],
        "summary": "vindt verblijfsobjecten, ligplaatsen, standplaatsen",
        "description": "Zoek actuele adresseerbare objecten (verblijfsobjecten, standplaatsen of ligplaatsen) met een nummeraanduidingidentificatie of pandidentificatie. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature). Gebruik de expand-parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources adres en pand, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).",
        "operationId": "raadpleegAdresseerbareobjecten",
        "parameters": [
          {
            "name": "nummeraanduidingIdentificatie",
            "in": "query",
            "description": "Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers lang.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226200000038923"
            }
          },
          {
            "name": "pandIdentificatie",
            "in": "query",
            "description": "Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226100000008856"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Crs",
            "in": "header",
            "description": "Gewenste CRS van de coördinaten in de response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CrsEnum"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina nummer",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "X-Pagination-Page": {
                "$ref": "#/components/headers/X_Pagination_Page"
              },
              "X-Pagination-Limit": {
                "$ref": "#/components/headers/X_Pagination_Limit"
              },
              "Content-Crs": {
                "$ref": "#/components/headers/contentCrs"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresseerbaarobjectHalCollectie"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13",
                  "title": "Precondition Failed",
                  "status": 412,
                  "detail": "The precondition given in one or more of the request-header fields evaluated to false when it was tested on the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "preconditionFailed"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/woonplaatsen/{woonplaatsidentificatie}": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "levert BAG details van een woonplaats",
        "description": "Raadpleeg een actuele woonplaats met de identificatie. Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature). Gebruik de expand-parameter als je het antwoord wil uitbreiden met de gerelateerde resource geometrie, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/expand.feature).",
        "operationId": "raadpleegWoonplaats",
        "parameters": [
          {
            "name": "woonplaatsidentificatie",
            "in": "path",
            "description": "Identificatie van een object uit de BAG. Deze is 4 cijfers lang.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}$",
              "type": "string",
              "description": "Deze wordt gebruikt in de operation, bv. /woonplaatsen/0123. Waarde: 0001-9999.",
              "example": "2096"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Crs",
            "in": "header",
            "description": "Gewenste CRS van de coördinaten in de response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CrsEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "Content-Crs": {
                "$ref": "#/components/headers/contentCrs"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/WoonplaatsHal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13",
                  "title": "Precondition Failed",
                  "status": 412,
                  "detail": "The precondition given in one or more of the request-header fields evaluated to false when it was tested on the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "preconditionFailed"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/openbareruimten/{openbareruimteidentificatie}": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "levert BAG detals van een openbare ruimte",
        "description": "Raadpleeg een actuele openbare ruimte met de identificatie. Een openbare ruimte is een buitenruimte met een naam die binnen één woonplaats ligt, bijvoorbeeld een straat of een plein. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).",
        "operationId": "raadpleegOpenbareRuimte",
        "parameters": [
          {
            "name": "openbareruimteidentificatie",
            "in": "path",
            "description": "Identificatie van een object uit de BAG. Deze is 16 cijfers lang.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226300000136166"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenbareRuimteHalBasis"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/nummeraanduidingen/{nummeraanduidingidentificatie}": {
      "get": {
        "tags": [
          "Adres"
        ],
        "summary": "levert BAG details van een nummeraanduiding",
        "description": "Raadpleeg een actuele nummeraanduiding met de identificatie. Een nummeraanduiding is een postcode, huisnummer met evt een huisletter en huisnummertoevoeging die hoort bij een verblijfsobject, een standplaats of een ligplaats. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).",
        "operationId": "raadpleegNummeraanduiding",
        "parameters": [
          {
            "name": "nummeraanduidingidentificatie",
            "in": "path",
            "description": "Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers lang.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226200000038923"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/NummeraanduidingHalBasis"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title": "Interne server fout.",
                  "status": 500,
                  "detail": "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "serverError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title": "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status": 503,
                  "detail": "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAvailable"
                }
              }
            }
          },
          "default": {
            "description": "Er is een onverwachte fout opgetreden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyBAG": []
          }
        ]
      }
    },
    "/panden/{pandidentificatie}": {
      "get": {
        "tags": [
          "Pand"
        ],
        "summary": "levert een pand",
        "description": "Raadpleeg een actueel pand met de identificatie. Een pand is een bouwkundige, constructief zelfstandige eenheid die direct en duurzaam met de aarde is verbonden en betreedbaar en afsluitbaar is. Gebruik de fields-parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.3.0/features/fields.feature).",
        "operationId": "raadpleegPand",
        "parameters": [
          {
            "name": "pandidentificatie",
            "in": "path",
            "description": "Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[0-9]{16}$",
              "type": "string",
              "example": "0226100000008856"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Crs",
            "in": "header",
            "description": "Gewenste CRS van de coördinaten in de response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CrsEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geslaagd",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              },
              "warning": {
                "$ref": "#/components/headers/warning"
              },
              "Content-Crs": {
                "$ref": "#/components/headers/contentCrs"
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PandHalBasis"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestFoutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title": "Ten minste één parameter moet worden opgegeven.",
                  "status": 400,
                  "detail": "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "paramsRequired",
                  "invalidParams": [
                    {
                      "type": "https://www.vng.nl/realisatie/api/validaties/integer",
                      "name": "verblijfplaats__huisnummer",
                      "code": "integer",
                      "reason": "Waarde is geen geldige integer."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title": "Niet correct geauthenticeerd.",
                  "status": 401,
                  "detail": "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "authentication"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title": "U bent niet geautoriseerd voor deze operatie.",
                  "status": 403,
                  "detail": "The server understood the request, but is refusing to fulfill it.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "autorisation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title": "Opgevraagde resource bestaat niet.",
                  "status": 404,
                  "detail": "The server has not found anything matching the Request-URI.",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title": "Gevraagde contenttype wordt niet ondersteund.",
                  "status": 406,
                  "detail": "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance": "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code": "notAcceptable"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed",
            "headers": {
              "api-version": {
                "$ref": "#/components/headers/api_version"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Foutbericht"
                },
                "example": {
                  "type": "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.13",
                  "title": "Precondition Failed",
                  "status": 412,
                  "detail": "The precondition given in one or more of the request-header fields evaluated to false when it was tested on the server.",
[...]
